body {
  font-size: 14px;
  line-height: 21px;
  font-weight: regular;
  font-family: 'PT Sans', sans-serif;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: -7px;
}

.container:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


*/



li.result-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

h2.catalog-filters-title {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.main-navigation {
  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
}

.main-navigation ul {
  margin-top: 14px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
}


.main-navigation a {
  display: block;
  width: 115px;
  margin: 0 auto;
  color: #000000;
  text-decoration: none;
}

/*Подумать*/
.main-navigation li:nth-child(3) {
  height: 55px
}

.main-navigation a img {
  position: relative;
}

.back {
  z-index: 1;
  left: -25px
}

.font {
  z-index: 2;
  top: -77px;
}

/*Закончить подумать*/


.index-main-information {
  width: 1200px;
  min-height: 1250px;
  padding-top: 60px;
  
  text-align: center;
}

.entry {
  width: 500px;
  min-height: 140px;
  text-align: center;
  margin: 0 auto;
  
  font-size: 21px;
  line-height: 26px;
}

.footer-hashtag p {
  font-size: 21px;
  font-weight: bold;
  margin-top: 50px;
}

.description {
    
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  
  background: #81b3d2;
  color: #ffffff;
}

.description h3 {
  display: block;
  margin-top: 60px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.description p,
.description .numbers{
  width: 300px;
  margin: 20px auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.features-item {
  position: relative;
}

.features-logo {
  position: absolute;
  top: 64px;
  left: 165px;
  
}

.features-name {
  display: inline-block;
  margin-top: 165px;
  
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  display: block;
  width: 300px;
  margin: 30px 50px;
}

.item2 p {
  display: block;
  width: 320px;
}

.description-bottom {
  background-color: #eeeeee;
}

.description-bottom .advantages {
  display: block;
  width: 160px;
  margin: 50px auto;
}

.description-bottom span {
  display: block;
  margin-top: -25px;
}

.description-bottom p {
  display: block;
  width: 260px;
  margin: 20px auto;
}

.index-search {
  width: 1200px;
  min-height: 884px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 0 230px;
}

.index-search h2{
  display: block;
  margin-top: 60px;
    
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.index-search h3 {
  display: block;
  width: 567px;
  height: 53px;
  
  
  margin: auto;
  margin-top: -150px;
  text-align: center;
  padding-top: 30px;
  background: #766357;
  
  color: #ffffff;
  font-size: 21px;
  font-weight: 26px;
  font-weight: bold;
}

.index-search>p {
  width: 450px;
  margin: 30px auto;
  text-align: center;
}

.index-search form {
  width: 568px;
  height: 482px;
  margin: 200px 316px;
  text-align: center;
  background: #ffffff;
}

form p {
  
  display: block;
  width: 150px;
  margin: 0px 20px;
  
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.main-footer {
  width: 1200px;
  height: 120px;
  margin: -380px auto;
  background: rgba(255, 255, 255, 0.9)
}

.footer-hashtag {
  float: left;
  width: 33.3%;
  text-align: center;
}

.footer-social {
  float: left;
  width: 33.3%;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 33.3%;
  text-align: center;
}


/* index.html index-main-information */
.promo-logo {
  width: 1200px; 
  min-height: 508px;
  padding: 0px;
  background-image: url("../img/main-photo.jpg");
  text-align: center;
}

.promo-logo-pic1 {
  padding-top: 76px
}

.promo-logo-pic2 {
  padding-top: 6px;
}

.promo-logo-pic3 {
  padding-top: 46px;
}

.promo-logo-pic4 {
  padding-top: 50px;
}





.item1 {
  float: left;
  width: 33.3%;
  min-height: 256px;
}

.description-photo1 {
  float: right;
  width: 66.6%;
  height: 256px;
}

.description-photo2 {
  float: left;
  width: 66.6%;
  height: 256px;
}

.features-item {
  float: left;
  width: 33.3%;
  min-height: 330px;
}

.item2 {
  float: right;
    width: 400px;
  min-height: 256px;
}

.item-bottom {
  width: 1200px;
  min-height: 256px;
}

.description-bottom {
  float: left;
  width: 400px;
  min-height: 256px;
}

.description-bottom:nth-child(3n) {
  float: right;
}




/*catalog.html*/
.catalog-filters {
  width: 1200px;
  min-height: 217px;
  background-image: url('../img/photo-sedona3.jpg');
}

#infrastructure {
  float: left;
  width: 241px;
  min-height: 217px;
}

#type {
  float: left;
  width: 288px;
  min-height: 217px;
  padding-left: 20px;
}

.price-control {
  float: right;
  width: 328px;
  min-height: 217px;
  margin-right: 73px;
}

.catalog-filters-result {
  width: 1200px;
  min-height: 540px;
}

.sort {
  float: right;
}

.type-sort {
  list-style: none;
  float: left;
}

.type-sort li {
  display: inline;
}

.result-image {
  float: left;
}

.details {
  float: left;
  width: 110px;
  height: 60px;
}

.price {
  float: left;
  width: 142px;
  height: 60px
}

.rating {
  float: right;
  width: 110px;
  height: 152px;
}


/*заливки*/
.index-search input {
  width: 300px;
  height: 30px;
  background-color: #f2f2f2;
  color: #fffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  margin-top: -150px;
  margin-left: 0px;
}



label {
  display: inline-block;
  height: 30px;
  margin-top: 61px;
  margin-left: -60px;
}

section {
  
}

.btn {
  background: url();
}

.social-btn {
  display: inline-block;
  margin: 35px 1px;
  width: 46px;
  height: 48px;
  font-size: 0px;
  
}

.social-btn-twitter {
  background: #81b3d2 url(../img/logo-twitter.png) no-repeat center;
}

.social-btn-facebook {
  background:#81b3d2 url(../img/logo-facebook.png) no-repeat center;
}

.social-btn-youtube {
  background:#81b3d2 url(../img/logo-youtube.png) no-repeat center;
}
