body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: regular;
  font-family: PT Sans;
}

html,
body {
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-top: -7px;
}

.container:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h2.title-booking {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

h3.advantages {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
}

h3.white {
  color: #ffffff;
}

li.result-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

h2.catalog-filters-title {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.main-navigation {
  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  margin-left: -4px;
  vertical-align: middle;
}

.main-footer {
  width: 1200px;
}

.footer-hashtag {
  float: left;
  width: 33.3%;
  text-align: center;
}

.footer-social {
  float: left;
  width: 33.3%;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 33.3%;
  text-align: center;
}


/* index.html index-main-information */
.promo-logo {
  width: 1200px; 
  min-height: 508px;
  padding: 0px;
  background-image: url("../img/main-photo.jpg");
  margin-top: -20px;
  text-align: center;
}

.promo-logo-pic1 {
  padding-top: 76px
}

.promo-logo-pic2 {
  padding-top: 6px;
}

.promo-logo-pic3 {
  padding-top: 46px;
}

.promo-logo-pic4 {
  padding-top: 50px;
}

.index-main-information {
  width: 1200px;
  min-height: 1315px;
  margin-top: 1px;
  padding-top: 100px;
}

.entry {
  width: 576px;
  min-height: 217px;
  text-align: center;
  margin: 0 auto;
}

.item1 {
  float: left;
  width: 33.3%;
  min-height: 256px;
}

.description-photo1 {
  float: right;
  width: 66.6%;
  height: 256px;
}

.description-photo2 {
  float: left;
  width: 66.6%;
  height: 256px;
}

.features-item {
  float: left;
  width: 33.3%;
  min-height: 330px;
}

.item2 {
  float: right;
    width: 400px;
  min-height: 256px;
}

.item-bottom {
  width: 1200px;
  min-height: 256px;
}

.description-bottom {
  float: left;
  width: 400px;
  min-height: 256px;
}

.description-bottom:nth-child(3n) {
  float: right;
}

.index-search {
  width: 1200px;
  min-height: 884px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.index-search form {
  width: 568px;
  height: 482px;
  margin: 200px 316px;
}


/*catalog.html*/
.catalog-filters {
  width: 1200px;
  min-height: 217px;
  background-image: url('../img/photo-sedona3.jpg');
}

#infrastructure {
  float: left;
  width: 241px;
  min-height: 217px;
}

#type {
  float: left;
  width: 288px;
  min-height: 217px;
  padding-left: 20px;
}

.price-control {
  float: right;
  width: 328px;
  min-height: 217px;
  margin-right: 73px;
}

.catalog-filters-result {
  width: 1200px;
  min-height: 540px;
}

.sort {
  float: right;
}

.type-sort {
  list-style: none;
  float: left;
}

.type-sort li {
  display: inline;
}

.result-image {
  float: left;
}

.details {
  float: left;
  width: 110px;
  height: 60px;
}

.price {
  float: left;
  width: 142px;
  height: 60px
}

.rating {
  float: right;
  width: 110px;
  height: 152px;
}


/*заливки*/