body {
  font-size: 14px;
  line-height: 21px;
  font-weight: regular;
  font-family: 'PT Sans', sans-serif;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

html,
body {
  width: 100%;
    margin: 0;
  padding: 0;
}

.container:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
    width: 1056px;
    margin: 0 auto;
}

.main-navigation {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation ul {
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  
  vertical-align: middle;
  text-align: center;
}


.main-navigation a {
  display: inline-block;
  margin: 0 auto;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

/*Подумать*/
.main-navigation .logo {
  height: 55px;
  position: relative;
  z-index: 2;
}

.index-main-information {
  width: 1200px;
  padding-top: 60px;
  
  text-align: center;
}

.entry {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  
  margin-bottom: 50px;
}

.footer-hashtag p {  
  font-size: 21px;
  font-weight: bold;
  margin-top: 50px;
}

.item-description-index {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  background: #81b3d2;
  color: #ffffff;
  height: 256px;
}

item-description-index h3 {
  display: block;
  margin-top: 60px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.item-description-index p,
.item-description-index .numbers{
  width: 300px;
  margin: 20px auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}



.features-logo {
  margin-bottom: 25px; 
}

.features-name {  
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 20px;
}

.features-item p {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.item2 p {
  display: block;
  width: 320px;
}

.description-bottom {
  background-color: #eeeeee;
}

.item-description-index .advantages {
  display: block;
  width: 160px;
  margin: 0px auto;
}

.description-bottom span {
  display: block;
}

.description-bottom p {
  display: block;
  width: 260px;
  margin: 20px auto;
}

.index-search {
  width: 1200px;
  min-height: 884px; /*НАДО УБРАТЬ*/
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 0 230px;
}

.index-search h2{
  display: block;
  margin-top: 60px;
    
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.index-search h3 {
  display: block;
  width: 567px;
  height: 53px;
  
  
  margin: auto;
  margin-top: -150px;
  text-align: center;
  padding-top: 30px;
  background: #766357;
  
  color: #ffffff;
  font-size: 21px;
  font-weight: 26px;
  font-weight: bold;
}

.index-search>p {
  width: 450px;
  margin: 30px auto;
  text-align: center;
}

.index-search form {
  width: 568px;
  height: 482px;
  margin: 200px 316px;
  text-align: center;
  background: #ffffff;
}

form p {
  
  display: inline-block;
  width: 150px;
  margin: 0px 20px;
  
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.main-footer {
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.9);

}

.footer-index {
  position: absolute;
  bottom: 260px;
}

.footer-hashtag {
  float: left;
  width: 33.3%;
  text-align: center;
}

.footer-social {
  float: left;
  width: 33.3%;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 33.3%;
  text-align: center;
  margin-top: 35px;
}


/* index.html index-main-information */
.promo-logo {
  width: 1200px; 
  background-image: url("../img/main-photo.jpg");
  background-repeat: no-repeat;
  background-position: center -60px;
  text-align: center;
  padding-bottom: 73px;
  position: relative;
  z-index: 1;
}

.promo-pic {
  padding-top: 46px
}

.promo-pic-margin {
  padding-top: 75px;
  margin-bottom: -40px;
}

.description-left {
  float: left;
  width: 400px;
  min-height: 256px;
}

.description-photo {
  display: inline-block;
  width: 800px;
  height: 256px;
}

.description-photo {
  width: 66.6%;
  height: 256px;
}

.features-item {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 62px 0; 
}

.description-right {
  float: right;
  width: 400px;
}

.item-bottom {
  width: 1200px;
  min-height: 256px;
}

.description-bottom {
  float: left;
  width: 400px;
  min-height: 256px;
}

/*catalog.html*/

.catalog-filters-result {
  width: 1200px;
  min-height: 540px;
}

/*заливки*/
.index-search  input {
  display: inline-block;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  margin-top: 25px;
  
}

.footer-copyright .btn {
  display: block;
  background: url(../img/logo-htmlacademy.png) no-repeat center;
  width: 115px;
  height: 40px;
  font-size: 0px;
  margin: -40px 185px;
}

.social-btn {
  display: inline-block;
  margin: 35px 1px;
  width: 46px;
  height: 48px;
  font-size: 0px;
  
}

.social-btn-twitter {
  background: #81b3d2 url(../img/logo-twitter.png) no-repeat center;
}

.social-btn-facebook {
  background:#81b3d2 url(../img/logo-facebook.png) no-repeat center;
}

.social-btn-youtube {
  background:#81b3d2 url(../img/logo-youtube.png) no-repeat center;
}

.footer-copyright p {
  display: inline-block;
  padding-right: 120px;
}

.filter-range {
  width: 330px;
  float: right;
  margin: 27px 70px;; /* для демо */
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.entry p {
  font-size: 14px;
  line-height: 21px;
}

.index-search input[type="text"] {
  background: #f2f2f2 url(../img/calendar.png) no-repeat 317px;
}

.numbers::after {
  content: "";
  display: block;
  position: relative;
  top: -11px;
  z-index: 1;
  border-bottom: 1px solid #ffffff;
  width: 50px;
  margin: 0 auto;
}
.numbers {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  background: #81b3d2;
}

.numbers-grey::after {
  content: "";
  display: block;
  position: relative;
  top: -11px;
  z-index: 1;
  border-bottom: 1px solid #000000;
  width: 50px;
  margin: 0 auto;
}

.numbers-grey {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  background: #eeeeee;
}


form .date {
  margin-top: 55px;
}

.index-search .adult {
  width: 114px;
  height: 38px;
  margin-left: 65px;
  text-align: center;
}

.index-search .children {
  width: 114px;
  height: 38px;
}

.small-box-adult {
  width: 72px;
  margin: 0;
  margin-left: 35px;
}

.small-box-children {
  width: 72px;
  margin: 0;
  margin-right: 27px;
}

.button {
  background: #81b3d2;
  color: #ffffff;
  width: 458px;
  height: 60px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  margin-top: 54px;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.filter {
  min-height: 216px;
  background: #406c90 url(../img/photo-sedona3.jpg) no-repeat;
}

.wrapper form {
  display: block;
  margin-top: 0px;
}

.filter-accommodation-type, .filter-infrastructure {
  float: left;
  width: 175px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}
.filter-infrastructure {
  margin-right: 80px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.filter-label {
  padding: 5px 0;
}

label {
  cursor: default;
}

.check-icon:checked+label:before {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 25px;
  border-radius: 2px;
  color: #fff;
  content: "\2611";
  vertical-align: top;
  font-family: "symbols-sedona";
  font-size: 26px;
  line-height: 20px;
}

[hidden], template {
  display: none;
}

.check-icon+label:before {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 25px;
  border-radius: 2px;
  color: #fff;
  content: "\2610";
  vertical-align: top;
  font-family: "symbols-sedona";
  font-size: 26px;
  line-height: 20px;
}

/*СОРТИРОВКА*/

.filter-value {
  padding: 30px 0 29px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result {
  float: left;
  width: 135px;
  margin-right: 27px;
}

.header-text-bold {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort-type {
  float: left;
  width: 430px;
  padding: 5px 0 0;
}

.sort-hotels-item, .sort-hotels-title {
  margin-right: 37px;
  font-size: 12px;
  line-height: 18px;
}

.item-header:hover, .sort-item-active {
  color: #81b3d2;
}

.sort-hotels-item {
  margin-right: 29px;
  border-bottom: 1px dotted #81b3d2;
  color: #b2b2b2;
  text-decoration: none;
}

.sort-hotels-item, .sort-hotels-title {
  margin-right: 37px;
  font-size: 12px;
  line-height: 18px;
}

.ask-desk-icons {
  float: right;
  width: 42px;
  padding: 5px 2px 0 0;
  font-size: 0;
}

.ask-desk-icons a {
  display: inline-block;
  width: 20px;
  color: #e5e5e5;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  font-size: 22px;
}

.icon-up-dir::before {
  content: "\25b2";
}

.icon-down-dir::before {
  content: "\25bc";
}

.icon-up-dir:hover {
  color: #81b3d2;
}

.icon-down-dir:hover {
  color: #81b3d2;
}
.max-price {
  float: right;
  text-align: center;
}

.min-price {
  text-align: center;
}

.result-item {
  width: 1056px;
  height: 150px;
  margin: 0 auto;
}



.wrapper {
  width: 1056px;
  margin: 0 auto;
}

.item-picture {
  position: relative;
  float: left;
  width: 135px;
  min-height: 90px;
  margin-right: 30px;
}

.item-description {
  float: left;
  width: 760px;
  margin-top: -20px;
    
}

.item-description h2 {
  font-size: 21px;
  line-height: 26px;
}

.item-rating {
  float: right;
  width: 120px;
}

.item-star {
  width: 120px;
  margin-top: -1px;
  font-size: 10;
}

.item-header {
  color: #000;
  text-decoration: none;
}

.header-text-bold {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.item-info {
  width: 258px;
  margin-top: -10px;
  font-size: 0;
}

.item-type {
  margin-right: 6px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 21px;
}

.item-min-price, .item-type {
  display: inline-block;
  width: 110px;
  vertical-align: top;
  font-size: 14px;
}


.item-star-rating {
  float: right;
}

.item-total-rating {
  float: right;
  width: 88px;
  height: 17px;
  margin-top: 70px;
  padding: 5px 10px;
  background: #f2f2f2;
  color: #8b8b8b;
}

.item-btn {
  width: 760px;
  font-size: 14px;
}

.item-btn-blue, .item-btn-brown {
  float: left;
  min-height: 15px;
  padding: 3px 16px;
}
.item-btn-blue {
  margin-right: 6px;
}
.btn-blue {
  background: #81b3d2;
  color: #fff;
  text-decoration: none;
}

.btn-brown {
  background: #766357;
  color: #fff;
  text-decoration: none;
}


.shadow {
  position: relative;
}

.promo-logo::after {
    content: url(../img/frame.png);
    position: absolute;
    bottom: -6px;
    left: 0px;
  
}

.entry b {
    font-size: 21px;
    line-height: 26px;
}

.photo-right {
  float: right;
}

.photo-left {
  float: left;
}

.features {
  padding: 0px 0;
}

.descriptions-advantages {
  margin-top: 50px;
  display: block;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 21px;
}
